.box-video {
  /* background-color: gold; */
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
}

.iframe-css {
  width: 100%;
  height: 500px;
  -webkit-box-shadow: -4px 35px 87px -46px rgba(0,0,0,0.66);
-moz-box-shadow: -4px 35px 87px -46px rgba(0,0,0,0.66);
box-shadow: -4px 35px 87px -46px rgba(0,0,0,0.66);
}

.box-view {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  /* background-color: red; */
  /* flex-direction: column; */
}

.view-one {
  width: 70%;
  height: auto;
}

.view-two {
  width: 30%;
  display: flex;
  justify-content: center;
  /* background-color: green; */
}

.box-view-int {
  display: flex;
  width: 80%;
  /* flex-direction: column; */
}

.box-scroll {
  width: 80%;
  height: 500px;
  overflow-y: scroll;
}

.box-int-scroll {
  width: 100%;
  height: 500px;
}

.card-scroll {
  width: 100%;
  height: auto;
}

.box-text-view-one {
  height: 130px;
  display: flex;
  justify-content: center;
  /* background-color: greenyellow; */
}

.view-one-text {
  width: 80%;
}

.one-text-view {
  width: 70%;
  height: auto;
}

.iframe-view {
  width: 100%;
  height: 250px;
}

.marvel-story{
  font-size: 12px;
  font-weight: bold;
  color: #767676;
  font:Trebuchet,Helvetica,Arial,sans-serif;
}

.marvel-the-secret{
font-size: 24px;
font-weight: bold;
}

.learn-how{
  font-size: 10px;
  background-color: rebeccapurple;
}

.learn-text{
  /* width: auto}; */
  /* font: optional; */
  font-size: 17px;
}

.learn-box{
  width: 65%;
  /* background-color: red; */
}


@media (max-width: 839px) {
.box-view-int{
  display: flex;
  flex-direction: column;
}
.box-view{
  margin-top: 50px;
}

.view-one{
  width: 100%;
}

.view-two{
  width: 100%;
}

.box-tree-img{
  height: auto;
  align-items: center;
}

}