.box-video {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
}

.iframe-css {
  width: 100%;
  height: 200px;
  border-bottom: 20px solid white;
  -webkit-box-shadow: -4px 35px 87px -46px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: -4px 35px 87px -46px rgba(0, 0, 0, 0.66);
  box-shadow: -4px 35px 87px -46px rgba(0, 0, 0, 0.66);
}

.iframe-css-two {
  width: 100%;
  height: 500px;
  -webkit-box-shadow: -4px 35px 87px -46px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: -4px 35px 87px -46px rgba(0, 0, 0, 0.66);
  box-shadow: -4px 35px 87px -46px rgba(0, 0, 0, 0.66);
}

.box-view {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
}

.view-one {
  background-color: yellow;
  width: 70%;
  height: auto;
}

.view-two {
  width: 30%;
  display: flex;
  justify-content: center;
}

.box-view-int {
  display: flex;
  width: 80%;
}

.box-scroll {
  width: 80%;
  height: 500px;
  overflow-y: scroll;
}

.box-scroll::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

.box-scroll:-webkit-scrollbar-track {
  background: white;
  scrollbar-width: 10px;
}

.box-scroll::-webkit-scrollbar-thumb {
  height: 10px;
  width: 10px;
  background-color: #e62429;
  border-radius: 0px;
  border: 3px solid white;
}

.box-int-scroll {
  width: 100%;
  height: 500px;
}

.card-scroll {
  width: 100%;
  height: auto;
}

.box-text-view-one {
  height: 130px;
  display: flex;
  justify-content: center;
}

.view-one-text {
  width: 80%;
}

.one-text-view {
  width: 70%;
  height: auto;
}

.iframe-view {
  width: 100%;
  height: 250px;
}

.marvel-story {
  font-size: 12px;
  font-weight: bold;
  color: #767676;
  font: Trebuchet, Helvetica, Arial, sans-serif;
}

.marvel-the-secret {
  font-size: 24px;
  font-weight: bold;
}

.learn-how {
  font-size: 10px;
}

.learn-text {
  font-size: 17px;
}

.learn-box {
  width: 65%;
}

@media (max-width: 839px) {
  .box-view-int {
    display: flex;
    flex-direction: column;
  }
  .box-text-view-one {
    height: auto;
  }
  .view-one-text {
    display: flex;
    justify-content: center;
  }

  .one-text-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .box-view {
    margin-top: 80px;
  }

  .view-one {
    width: 100%;
  }

  .view-two {
    width: 100%;
  }

  .box-tree-img {
    height: auto;
    align-items: center;
  }
  .box-scroll {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 100%;
  }

  .box-int-scroll {
    margin-top: 10px;
    width: 100%;
    height: auto;
    overflow-y: scroll;
  }

  .card-scroll {
    width: 100%;
    height: auto;
    padding: 10px;
  }

  .iframe-view {
    width: 200px;
    height: auto;
  }
}
