.box-tree {
  justify-content: center;
  width: 100%;
  height: auto;
  display: flex;
}

.box-tree-int {
  width: 59%;
  height: auto;
}

.box-tree-int-two {
  width: 20%;
  height: 60%;
}

.box-tree-img {
  margin: 10px;
  width: 100%;
  height: 250px;
  display: flex;
}

.box-tree-img-one {
  width: 88%;
  height: 100%;
}

.box-tree-img-two {
  width: 100%;
  height: 100%;
}

.box-img {
  width: 100%;
  height: 100%;
}

.box-line-tree {
  width: 100%;
  border-top: 1px solid rgb(0, 0, 0);
}

.btn-tree-card {
  border: 2px solid rgb(0, 0, 0);
  width: 180px;
  height: 50px;
  background-color: white;
}
.box-int-card {
  width: 80%;
}

@media (max-width: 886px) {
  .box-tree {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .box-tree-int {
    width: 100%;
  }

  .box-tree-int-two {
    width: 100%;
  }
}

.sidebar-css {
  text-align: center;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-sidebar {
  width: 100%;
  height: 50%;
  margin-top: 20px;
  display: flex;
}

.sidebar-img {
  width: 40%;
  height: 5%;
}

.box-text-sidebar {
  text-align: left;
  width: 100%;
  height: 5%;
}
