.box-tree {
  justify-content: center;
  width: 100%;
  height: auto;
  display: flex;
  /* margin-top: 450px; */
}

.box-tree-int {
  width: 59%;
  height: auto;
  overflow: hidden;
}

.box-tree-int-two {
  width: 20%;
  height: 60%;
}

.box-tree-img {
  margin: 10px;
  width: 100%;
  height: 250px;
  display: flex;
}

.box-tree-img-one {
  width: 88%;
  height: 100%;
}

.box-tree-img-two {
  width: 100%;
  height: 100%;
  /* background-color: gold; */
  display: flex;
  justify-content: right;
}

.box-tree-left{
  width: 93%;
  /* background-color: red; */
}

.box-img {
  width: 100%;
  height: 100%;
}

.box-line-tree {
  width: 90%;
  border-top: 1px solid rgb(0, 0, 0);
}

.btn-tree-card {
  border: 2px solid rgb(0, 0, 0);
  width: 180px;
  height: 50px;
  background-color: white;
}
.box-int-card {
  width: 80%;
}

.box-ext-card{
  width: 90%;
  /* background-color: rgb(122, 240, 72); */
}

@media (max-width: 886px) {
  .box-tree {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .box-tree-int {
    width: 100%;
    margin-top: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  }

  .box-tree-int-two {
    width: 100%;
  }
}

.sidebar-css {
  text-align: center;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-sidebar {
  width: 100%;
  height: 50%;
  margin-top: 20px;
  display: flex;
}

.sidebar-img {
  width: 40%;
  height: 5%;
}

.box-text-sidebar {
  text-align: left;
  width: 100%;
  height: 5%;
}


.sets__eyebrow-two{
  font: 500 ;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  margin: 30px 0;
  position: relative;
  font-weight: bold;
  font-size: 25px;
}

.sets__eyebrow-two:after {
  left: -6px;
  top: calc(100% + 3px);
  -webkit-transform-origin: right top;
  transform-origin: right top;
}
.sets__eyebrow-two:after, .sets__eyebrow-two:before {
  background-color: #c6a972;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  -webkit-transform: rotate(-45deg) skewX(45deg);
  transform: rotate(-45deg) skewX(45deg);
  width: 30px;
}

.sets__eyebrow-two:before {
  left: 53px;
  top: -8px;
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
}
.sets__eyebrow-two:after, .sets__eyebrow:before {
  background-color: #c6a972;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  -webkit-transform: rotate(-45deg) skewX(45deg);
  transform: rotate(-45deg) skewX(45deg);
  width: 30px;
}


.rail-featured__border-top .icon--svg {
  height: 100%;
  left: 0;
  position: absolute;
  top: 25px;
  width: 100%;
}

.icon--svg.icon--border {
  fill: none;
  stroke: #c6a972;
  stroke-width: 3px;
}

.icon--svg {
  fill: #151515;
}
*, :after, :before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*, :after, :before, section {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.rail-featured__border-top {
  position: relative;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 73px;
  width: 100%;
}

span {
  color: white;
  display: inline-block;
  transform: skew(0deg);
}

/*  */
.rail-featured__border-bottom {
  display: block;
  position: relative;
  bottom: 0;
  right: 0;
  height: 55px;
  width: 100%;
}

.rail-featured__border-bottom .icon--svg {
  top: 0;
  right: 0;
  position: absolute;
  zoom: 1;
}

.icon--svg.icon--border {
  fill: none;
  stroke: #c6a972;
  stroke-width: 3px;
}
.icon--svg {
  fill: #151515;
}
*, :after, :before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*, :after, :before, section {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.rail-featured__border-bottom .icon--svg svg {
  height: 55px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}