.characters-banner{
height: 403px;
 }

 .spacing-navbar{
height: 88px;
background-color: rebeccapurple;
 }

 .box-spacing-text{
    width: 100%;
    display: flex;
    justify-content: center;
    /* background-color: gold; */
 }

 .box-spacing-text-two{
   width: 100%;
   display: flex;
   justify-content: center;
   /* margin-top: -15px; */
   /* background-color: gold; */
}

 .title-spacing{
    width: 78%;
    /* background-color: green; */
 }

 .feature-characters-text{
    color: #202020;
    font-size: 26px;
    font: 800 26px/1 RobotoCondensed,Trebuchet MS,Helvetica,Arial,sans-serif;
    letter-spacing: 1px;
 }

 .characters-list{
   color: #202020;
    font-size: 26px;
    font: 800 26px/1 RobotoCondensed,Trebuchet MS,Helvetica,Arial,sans-serif;
    letter-spacing: 1px;
 }