.characters-banner{
height: 403px;
 }

 .spacing-navbar{
height: 88px;
background-color: rebeccapurple;
 }

 .box-spacing-text{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: gold;
 }

 .title-spacing{
    width: 78%;
    background-color: green;
 }