.box-sli-one {
  width: 100%;
  background-color: rgb(255, 255, 255);
  margin-top: 88px;
}

.box-sli-two {
  height: 470px;
  z-index: 1;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.box-sli-tree {
  width: 100vh;
  height: 100%;
}

.slick-prev:before {
  display: none;
}

.box-slider-card {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10px;
}

.box-int-card-slider {
  width: 80%;
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.box-sli-cd {
  width: 80%;
  height: 100%;
}

.box-sli-cd-two {
  width: 20%;
  height: 100%;
}

.box-sli-fl {
  position: relative;
  margin-top: -60px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
.box-int-sli {
  font-weight: bold;
  margin-top: 20px;
  width: 19%;
  height: 55px;
}

.box-int-carousel {
  width: auto;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../../assets/scale.png");
}

.box-cd-two {
  width: 100%;
  height: 40%;
  position: relative;
  margin-top: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rs-box-cd {
  margin: 10px;
}


.slick-next {
  right: 0;
}

.slick-next:before {
  display: none;
}

.box-int-inline-cd {
  display: flex;
  justify-content: right;
  width: 50%;
  height: 600px;
}

.box-botton-ca {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  width: 170px;
  height: 50px;
  background-color: #e62429;
  color: white;
  align-items: center;
}

.box-int-bot-ca {
  width: 25px;
  height: 100%;
  background-color: #e62429;
}

.box-int-cor-two-ca {
  width: 25px;
  height: 25px;
  border-top: 25px solid #000000;
  border-right: 25px solid #e62429;
}

.box-int-cor-ca {
  margin-top: 25px;
  width: 25px;
  border-top: 25px solid #e62429;
  border-right: 25px solid #000000;
}

.text-new-one-two{
  font-size: 46px;
  font-weight: bold;
  color: white;
  /* columns:; */
}

@media (max-width: 1253px) {
.text-new-one-two{
  font-size: 20px;
}
}

@media (min-width: 1253px) {
  .text-new-one-two{
    font-size: 30px;
  }
  }


@media (max-width: 1117px) {
 
  .box-sli-one {
    margin-top: 49px;
  }
  .box-slider-card{
    display: flex;
    align-items: center;
    height:300px;
    /* background-color: red; */
  }
  .box-sli-cd{
    display: flex;
    /* flex-direction: column; */
    /* background-color: royalblue; */
    width: 100%;
    height: auto;
    /* display: none; */
  }

  .box-sli-fl{
    /* margin-top: 0; */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* background-color: yellow; */
}

.box-int-sli{
  width: 100%;
height: auto;
/* background-color: green; */
}

.box-int-card-slider{
  display: flex;
  flex-direction: column;
}

.text-new-one-two{
  width: 250px;
  /* background-color: gold; */
  font-size: 21px;
}

.text-new-one-tree{
  width: 250px;
  /* background-color: gold; */
  font-size: 16px;
}

.box-sli-cd-two{
  display: none;
  /* margin-top: 0px; */
}


}

.display-none{
  display: flex;
  justify-content: space-around;

  margin-top: 20px;
  
  width: 100%;
  /* background-color: #e62429; */
}

.display-int{
  display: flex;
  justify-content: space-between;
  /* flex-direction: ; */
  width: 95%;
  align-items: center;
  /* background-color: aqua; */
}

.follow-marvel-none{
  font-weight: bold;
  color: gray;
}

@media (min-width: 1117px) {
 .display-none{
  display: none;
 }

}