.box-sli-one {
  width: 100%;
  background-color: rgb(255, 255, 255);
  margin-top: 88px;
  /* clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); */
}

.box-sli-two {
  /* background-color: aqua; */
  height: 470px;
  z-index: 1;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.box-sli-tree {
  width: 100vh;
  height: 100%;
}

.slick-prev:before {
  /* display:; */
  display: none;
}

.box-slider-card {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10px;
  /* background-color: red; */
}

.box-int-card-slider {
  width: 80%;
  height: 80px;
  /* background-color: gold; */
  display: flex;
  justify-content: space-between;
}

.box-sli-cd {
  /* background-color: rgb(125, 9, 145); */
  width: 80%;
  height: 100%;
}

.box-sli-cd-two {
  /* background-color: rgb(128, 0, 77); */
  width: 20%;
  height: 100%;
}

.box-sli-fl {
  position: relative;
  margin-top: -60px;
  /* margin-bottom: 50px; */
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  display: flex;
  /* align-items: baseline; */
  /* align-items: center; */
  justify-content: space-around;
}
.box-int-sli{
    font-weight: bold;
    margin-top: 20px;
    width: 19%;
    height: 55px;
    /* background-color: rgb(47, 252, 255); */

}

.box-int-carousel{
    width: auto;
    height: auto;
   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../../assets/scale.png");
}


.box-cd-two {
  width: 100%;
  height: 40%;
  position: relative;
  margin-top: -40px;
  display: flex;
  justify-content:center;
  align-items: center;
}
.rs-box-cd{
    margin: 10px;
}
@media (max-width: 1117px) {
  .box-sli-one {
    margin-top: 56px;
  }
}

.slick-next {
    right: 0;
}

.slick-next:before {
    display: none;
}

.box-int-inline-cd{
    display: flex;
    justify-content: right;
    width: 50%;
    height: 600px;
  }

  .box-botton-ca {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    width: 170px;
    height: 50px;
    background-color: #e62429;
    color: white;
    align-items: center;
  }
  
  .box-int-bot-ca {
    width: 25px;
    height: 100%;
    background-color: #e62429;
  }
  
  .box-int-cor-two-ca {
    width: 25px;
    height: 25px;
    border-top: 25px solid #000000;
    border-right: 25px solid #e62429;
  }
  
  .box-int-cor-ca {
    margin-top: 25px;
    width: 25px;
    border-top: 25px solid #e62429;
    border-right: 25px solid #000000;
  }

  