.img-card-ot{
  width: 10px;
  height: 10px;
}

.boox-two{
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* display: flex; */
  align-items: center;
  background-color: rgb(255, 255, 255);
  /* border: 2px solid black; */
  width: 100%;
  height: 300px;
  flex-wrap: wrap;
}

.boox-tree-cd{
  width: 310px;
  margin: 10px;
  height: 250px;
  background-color: rgb(255, 255, 255);
}

.card-boox-cd{
  width: 100%;
  height: 150px;
}
