.box-card-load {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.int-box-card-load {
  width: 100%;
  display: flex;
  text-align: left;
}
.box-the-latest {
  text-align: left;
  width: 30%;
  height: 40px;
}

.box-load-card {
  margin-top: 12px;
  width: 93%;
  height: auto;
  overflow: hidden;
  padding-top: 10px;
}

.box-button-spacing {
  width: 100%;
  height: 160px;
  display: flex;
}

.box-button-spacing-two {
  width: 77%;
}

.load-img-card {
  width: 50%;
  height: 233px;
}

.load-text-box {
  margin-left: 25px;
}

.card-load {
  width: 100%;
  height: 235px;
  display: flex;
}

.box-card-im {
  width: 60%;
  height: auto;
}

.box-im-card {
  width: 20%;
  margin-top: 20px;
}

.load-img-css {
  width: 100%;
  height: 100%;
}

.load-img-css-two {
  width: 50%;
  height: 50%;
}

/* aside */

.aside-box {
  width: 100%;
  height: auto;
}

.text-media-query {
  margin-top: 10px;
}

@media (max-width: 886px) {
  .box-card-load {
    display: flex;
    flex-direction: column-reverse;
  }

  .box-the-latest {
    height: 60px;
  }

  .query-media {
    width: 100%;
  }

  .center-query {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .box-button-spacing {
    display: flex;
    justify-content: center;
  }

  .box-card-im {
    width: 100%;
    margin-top: 50px;
  }

  .text-media-query {
    width: 80%;
    font-size: 15px;
  }

  .box-im-card {
    width: 80%;
  }

  .box-card-load {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box-the-latest {
    display: flex;
    margin-left: 20px;
    width: 90%;
  }

  .int-box-card-load-two {
    width: 100%;
  }
  .box-button-spacing {
    height: 20px;
  }

  .box-card-im {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.card-load-two {
  justify-content: center;
  display: flex;
}

.int-box-card-load-cd {
  width: 80%;
  height: 100px;
  display: flex;
  margin-top: 40px;
}

.load-img-css-two {
  width: 100px;
  height: 70px;
}

.box-title-hype {
  width: 60%;
  height: 100%;
}

.box-load-img-two {
  width: 40%;
  height: 100%;
}

.box-line-tree-two {
  width: 100%;
  border-top: 1px solid rgb(0, 0, 0);
}

.the-hype-box {
  font-size: 25px;
  font-weight: bold;
}

/* BOTON */

.box-botton-cd {
  display: flex;
  justify-content: space-between;
  width: 200px;
  height: 50px;
  background-color: rgb(50, 50, 50);
  color: white;
  align-items: center;
}

.box-int-bot-cd {
  width: 25px;
  height: 100%;
  background-color: rgb(50, 50, 50);
}

.box-int-cor-two-cd {
  width: 25px;
  height: 25px;
  border-top: 25px solid #ffffff;
  border-right: 25px solid rgb(50, 50, 50);
}

.box-int-bot-cd-two {
  width: 25px;
  height: 100%;
  background-color: rgb(50, 50, 50);
}

.box-int-cor-cd {
  margin-top: 25px;
  width: 25px;
  border-top: 25px solid rgb(50, 50, 50);
  border-right: 25px solid #ffffff;
}


.sets__eyebrow-cd{
  font: 800 26px/1 RobotoCondensed,Trebuchet MS,Helvetica,Arial,sans-serif;

  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgb(8, 8, 8);
  margin: 36px 0;
  position: relative;
  font-weight: bold;
  font-size: 26px;
}

.sets__eyebrow-cd:after {
  left: -6px;
  top: calc(100% + 3px);
  -webkit-transform-origin: right top;
  transform-origin: right top;
}
.sets__eyebrow-cd:after,
.sets__eyebrow-cd:before {
  background-color: #c6a972;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  -webkit-transform: rotate(-45deg) skewX(45deg);
  transform: rotate(-45deg) skewX(45deg);
  width: 30px;
}

.sets__eyebrow-cd:before {
  left: 53px;
  top: -8px;
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
}
.sets__eyebrow-cd:after,
.sets__eyebrow-cd:before {
  background-color: #c6a972;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  -webkit-transform: rotate(-45deg) skewX(45deg);
  transform: rotate(-45deg) skewX(45deg);
  width: 30px;
}

.rail-featured__border-top {
  position: relative;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 73px;
  width: 100%;
}

.rail-featured__border-top span{
  color: rgb(255, 255, 255);
  display: inline-block;
  transform: skew(0deg);
}

.rail-featured__border-bottom span{
  width: 100%;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: right;
  transform: skew(0deg);
}

.rail-featured__border-bottom .icon--svg svg {

  height: 55px;
  transform: rotate(180deg);
}

.rail-featured__border-top .icon--svg {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.icon--svg.icon--border {
  fill: none;
  stroke: #c6a972;
  stroke-width: 3px;
}
.icon--svg {
  fill: #151515;
}

