.img-card-ot {
  width: 10px;
  height: 10px;
}

.boox-cav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
  flex-wrap: wrap;
}

.booox-cav {
  width: 190px;
  height: auto;
  background-color: #151515;
  margin: 5px;
}
.boooox {
  background-color: #151515;
  display: flex;
  justify-content: right;
  width: 100%;
  height: 25px;
}

.box-int-cor-rd-cd {
  width: 25px;
  border-top: 25px solid #151515;
  border-right: 25px solid #ffffff;
}

.container {
  width: 100%;
  height: 200px;
  background-color: #e62429;
  display: flex;
}

.container figure {
  width: 100%;
  height: 200px;
  overflow: hidden;
  transition: all 500ms ease;
}

.container figure img {
  width: 100%;
  height: 100%;
  transition: all 500ms ease;
}

.container figure img:hover {
  transform: scale(1.2);
}

.line-box {
  height: 6px;
  width: 100%;
  background-color: #e62429;
}

.btn {
  height: 140px;
  background: none;
  text-transform: uppercase;
  background-color: #151515;
  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
}

.btn:hover {
  color: red;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 118%;
  background-color: #e62429;
  z-index: 1;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.btn2::before {
  transform: scaleY(0);
}

.btn2:hover::before {
  transform: scaleY(1);
}

.zin {
  z-index: 0;
}
.img-axios {
  width: 50%;
  height: 50px;
}

.box-int-two-cd {
  width: 100%;
  height: 50px;
}

.title-spacing-two-tree {
  width: 88%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .title-spacing-two {
    text-align: center;
  }
}

.input-search {
  width: 200px;
  font-weight: 500;
  font-size: 23px;
}

.search-box {
  display: flex;
  width: 88%;
  height: 100px;
}

.box-search {
  width: 50%;
  display: flex;
  align-items: center;
  height: 50px;
  border-bottom: 2px solid black;
}

.box-movie {
  justify-content: right;
  align-items: center;
  display: flex;
  width: 50%;
  height: 50px;
  border-bottom: 1px solid rgb(95, 95, 95);
}

.tv-box {
  width: auto;
}
