.box-nav-bar {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
}
.box-sign-in {
  height: 50px;
  width: 160px;
  border-left: 1px solid #393939;
  border-right: 1px solid #393939;
}

.box-logo-cabecera {
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
}

.box-marvel-unlimited {
  height: 50px;
  border-left: 1px solid #393939;
  border-right: 1px solid #393939;
}

.img-nav-bar {
  height: 20px;
}

.logo-nav-bar {
  height: 50px;
}

.box-search-nav {
  border-left: 1px solid #393939;
}
